.popup{
  width: 50%;
  height: 40%;
  position: absolute;
  top: -150%;
  left: 50%;
  transform:translate(-50%, -50%);
  background-color: darkgrey;
  border-radius: 5px;
  transition: ease 1s;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}