.header__button{
  width: 15%;
  height: 100%;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .header__button{
    font-size: 12px;
  }
}

@media screen and (max-width: 380px) {
  .header__button{
    font-size: 10px;
  }
}
